<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.custom.blog.vo.Menu" alias="Menu" />
		<typeAlias type="com.custom.blog.vo.Board" alias="Board" />
		<typeAlias type="com.custom.blog.vo.Reply" alias="Reply" />
		<typeAlias type="com.custom.blog.vo.Member" alias="Member" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/menuMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
		<mapper resource="mapper/memberMapper.xml" />
	</mappers>
</configuration>
