<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.custom.blog.vo.MenuVO" alias="Menu" />
		<typeAlias type="com.custom.blog.vo.BoardVO" alias="Board" />
		
	</typeAliases>
	<mappers>
		<mapper resource="mapper/menuMapper.xml" />
	</mappers>
</configuration>
